<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
Mapper 예시
<mapper namespace="com.icia.member.repository.MemberMapperRepository"></mapper>
-->

<!--    private int feed_pno;
    private String feed_content;
    private int feed_user_fno;
    private LocalDate feed_date;
    private List<FilesDTO> files;
    private List<LikeDTO> likes;
    private List<ReplyDTO> reply;
    private List<HashtagDTO> hashtags;
-->
