.loginboard {
  position: relative;
  width: 1920px;
  height: 1080px;

  background: #bdbdbd;
}

.loginmodal {
  position: absolute;
  width: 440px;
  left: calc(50% - 440px / 2);
  top: 26.48%;
  bottom: 26.57%;

  background: #ffffff;
  border-radius: 112px;
}

.loginid {
  position: absolute;
  width: 212px;
  height: 48px;
  left: calc(50% - 212px / 2 + 73px);
  top: calc(50% - 48px / 2 - 108px);
  border-style: none;

  background: #d9d9d9;
}

.loginpw {
  position: absolute;
  width: 212px;
  height: 48px;
  left: calc(50% - 212px / 2 + 73px);
  top: calc(50% - 48px / 2);
  border-style: none;

  background: #d9d9d9;
}

.signinlogin {
  position: absolute;
  width: 289px;
  left: calc(50% - 289px / 2 + 0.5px);
  top: 62.41%;
  bottom: 34.17%;

  background: #d9d9d9;
}

.Idarea {
  position: absolute;
  width: 123px;
  left: calc(50% - 123px / 2 - 124.5px);
  top: 17%;
  bottom: 57.78%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.Pwarea {
  position: absolute;
  width: 123px;
  left: calc(50% - 123px / 2 - 124.5px);
  top: 47.78%;
  bottom: 47.78%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
